{{define "yield"}}

<table>
    <thead>
    <tr>
        <th>Number</th> <th>LastName</th> <th>FirstName</th> <th>Position</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td>{{ .SweaterNumber }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .FirstName }}</td>
            <td>{{ .Position }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>

{{end}}
