{{define "yield"}}
    <h1>{{.C.First}} {{.C.Last}}</h1>

    <div>
        <div>Phone: {{.C.Phone}}</div>
        <div>Email: {{.C.Email}}</div>
    </div>

    <p>
        <a href="/forms/edit/{{.C.ID}}">Edit</a>
        <a href="/contacts">Back</a>
    </p>
{{end}}